<section class="about-us">
  <div class="container">
    <div class="about">
      <div class="col-12 col-md-6">
        <img src="../../assets/cocina1.jpg" alt="Cocina" class="img-fluid">
      </div>
      <div class="text col-12 col-md-6">
        <h2>Kucina Écija</h2>
        <h5>Empresa de venta de muebles & <span>Fabricación de cocinas</span></h5>
        <p>Kucina Écija es una empresa dedicada al sector de la fabricación de cocinas y armarios a medida y totalmente personalizados. El equipo humano que lo forma pertenece al sector de la madera desde hace más de 30 años y su afán de mejora y compromiso con la calidad y satisfacción del cliente es su bandera.</p>
      </div>
    </div>
  </div>
</section>